#  Types of Operator
## Arithmetic Operators
## Comparison (Relational) operators
## Assignment Operators
## Logical Operators
## Bitwise Operators
## Membership Operators
## Identity Operators

# Arithmetic Operators

In [2]:
#+ Addition #string, list= concetenation,integer = addition 
#-Subtraction
# * Multiplication
#/ Division
# // floor Division
#** exponent
# % modulus

In [3]:
5.0 + 2.7

7.7

In [5]:
"Sobia " + "Pervaiz"

'Sobia Pervaiz'

In [6]:
['1'+ '2'] + ['A'+ 'B']  #list = extend

['12', 'AB']

In [8]:
('1'+ '2') + ('A'+ 'B')

'12AB'

In [21]:
{"A":'1', "B":'2'} + {"X":'A', "Z":"B"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [23]:
{"A","B"} + {"1"+"2"}  #check

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
20 - 2

18

In [11]:
25.2 - 2.7

22.5

In [12]:
"a" - "b"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [1]:
{5, 6, 7, 8} - {5, 6, 8}

{7}

In [2]:
{"A", "B", "C"} - {"B"}

{'A', 'C'}

In [3]:
[4, 5] - [1, 2]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [5]:
{1:"A",2:"B"} - {3:"C",4:"D"}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [13]:
3 * 2

6

In [15]:
{3,7,8}-{2,3,8}

{7}

In [16]:
[3,7,8]-[2,3,8]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
"A" * 3  # repeat string three times

'AAA'

In [18]:
["A", "B"] * 2

['A', 'B', 'A', 'B']

In [19]:
{"A", "B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [20]:
{"A", "B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [6]:
{1:"A",2:"B"} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [24]:
2 ** 3

8

In [25]:
2 *** 3  #*** not supported in python, but in Java

SyntaxError: invalid syntax (<ipython-input-25-24bed3999a74>, line 1)

In [26]:
12/3  #answer in float

4.0

In [27]:
12/3.0

4.0

In [28]:
12.0/3

4.0

In [29]:
11/3

3.6666666666666665

In [30]:
# floor division ignores digits after decimal
11//3

3

In [ ]:
      3
3   _______
___|   11  |____
        9
    _______2    # Modulus

In [31]:
18 % 5

3

In [32]:
11 % 3

2

# Comparison (Relational ) Operators

In [33]:
# Boolean Result
# compares two operations
# == equal
#> greater than
# <  less than
#>= greater than or equal
#<= less than
# != not equal
# <> not equal

In [34]:
"Sobia" == "sobia"

False

In [35]:
"sobia" == "sobia"

True

In [36]:
'sobia' == "sobia"

True

In [37]:
2 == 2.0  #datatype change but value is the same

True

In [38]:
a = 2
b = 2
a==b

True

In [39]:
'2' == 2

False

In [40]:
6 > 10

False

In [42]:
10 > 6

True

In [43]:
10 > 10

False

In [44]:
10 >= 10

True

In [45]:
11 >=10

True

In [46]:
10 > 9

True

In [47]:
"A" > "B"

False

In [48]:
"B" > "A"  # check according to the ascii key

True

In [56]:
chr (65)

'A'

In [51]:
ord("A")

65

In [ ]:
65 = A -> 90 =Z
97= a ->  122=b
48 = 0  -> 57 = 9

In [57]:
chr(66)

'B'

In [58]:
chr(48)

'0'

In [60]:
chr(103)

'g'

In [61]:
ord("B") > ord("A")

True

In [62]:
chr(66) > chr (65)

True

In [63]:
3 < 6

True

In [64]:
2 <= 3

True

In [65]:
"sobia" !="Sobia"

True

In [66]:
2 !=2

False

In [68]:
2 <> 2 # not equal in other languages

SyntaxError: invalid syntax (<ipython-input-68-1338ae7a4c59>, line 1)

In [69]:
"2" <> "2"   #not supported in python

SyntaxError: invalid syntax (<ipython-input-69-58cd19590351>, line 1)

# Assignment Operators

In [ ]:
# assignment in RAM, temporary memory
=    "assign value"
+=
-+
*=
**=
/=
//=
%=

In [70]:
a = 5
print(a)

5

In [72]:
a = 5
a=6
a = 7
a = 8
print(a)  # overwrite

8

In [84]:
a = 1  
a += 2  # a + 2 = 1 + 2 = 3
a += 3  # a + 3 = 3 + 3 = 6
a += 4  # a + 4 = 6 + 4 = 10
print(a)

10

In [75]:
a = 100
a -= 2
a -= 3
a -= 4
print(a)

91

In [76]:
a = 1
a *= 2
a *= 3
a *= 4
print(a)

24

In [79]:
a = 100
a /= 2
a /= 2
print(a)  # float

25.0

In [80]:
a = 100
a // 2
a // 2

50

In [81]:
a = 2
a **= 2
a **= 2
print(a)

16

In [82]:
a = 2
a **= 3
a **= 3
print(a)

512

In [85]:
a = 21
a %= 5
print(a)

1

In [86]:
a = "A"
a *= 3
print(a)

AAA

In [92]:
a = "A"
a += "B"
a += "C"
print(a)  # concetenation

ABC

In [7]:
a = [1, 2, 3]
a += [5, 6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operator

and = &
or = |
not != <>

In [94]:
user = "Sobia"
password = 123

print(user == "Sobia")
print(password == 123)

True
True

In [96]:
True and True and True and True

True

In [97]:
True & True & True & True

True

In [98]:
True and True and True and False

False

In [99]:
True | False

True

In [105]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a == "A") & (b == "B") & (c == "C")  & (d == "D"))

True

In [106]:
print(a == "A" and b == "B" and c == "C"  and d == "D")

True

In [107]:
True or True or False or True or True

True

In [108]:
True | True | False | True | True

True

In [119]:
user = input("User Name:")
password = input("Password:") # input always in the form of string

# 3 different username and password 123 for all username
(user == "Sobia" or user == "Admin" or user == "Abc") \
and password == "123"

User Name:Admin
Password:123

True

In [113]:
not(True)

False

In [114]:
not(False)

True

In [116]:
 not(True and True)

False

In [120]:
not(True & True)

False

# Bitwise Operators

8,  7,  6, 5, 4, 3, 2, 1 0
2,  2,  2, 2, 2, 2, 2, 2 2
========================
256,128,64,32,16,8, 4,2, 1

11101 = 1+0+4+8+16= 29
11100 = 28

Example:
    10011
       Right
        2^0 = 1
        1    = 2
        0
        0 
        1=   16
        ________
        19

11101 = 29
11100 = 28
------
11100 = 28 # and operator

In [121]:
28 & 29

28

In [122]:
ord("A") & ord("B")

64

10101
00101
_____
00101

11101 = 29
11100 = 28
------
11101 = 29 # or operator

In [123]:
29 | 28

29

 XOR  |
11101 = 29
11100 = 28
------
00001 = 29  00=1, 11=0

In [124]:
28 ^ 29 # XOR

1

In [126]:
~ 2

-3

In [127]:
# 11101
29 << 2
# 1110100   # left shift add two 0's on the left

116

In [132]:
#11101
29 >> 2
#00111  # right shift add two 0's on the right

7

In [130]:
ord("7")

55

11001 = 25
1100100 = 100  # LEFT SHIFT
00110 = 6  # right shift

In [133]:
25 << 2

100

In [134]:
25 >> 2

6

# Membership Operators

In [21]:
names = ["Ali","Hamza","Junaid","Kashif"]
print(len(names))
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i +=1

4
True

In [2]:
names = ['Sobia', 'Pervaiz', 'PIAIC', '2019']

for name in names:
    if name == 'Sobia':
        print(True)

True

In [12]:
names = ['Sobia','Pervaiz','PIAIC','2019']

for name in names:
    if name=='Sobia':
        print(True)

True

In [3]:
"Sobia" in names

True

In [4]:
"SOBIA" not in names

True

In [5]:
"Pakistan" in "A B C Pakistan"

True

In [1]:
if True:
    print("Pakistan")
else:
    print("Zindabad")

Pakistan

In [14]:
user = input("Text ")
"Pakistan" in user

Text bfdskjfhsfdskljfds Pakistan pakistan

True

In [16]:
user = input()
user = user.split()
print(user)

a db lkfj lrlr Pakistan
['a', 'db', 'lkfj', 'lrlr', 'Pakistan']

# Identity Operators

In [8]:
a = "5"
b = 5
c = a

print(a == b)
print(c == a)

False
True

In [9]:
print(a is b)
print(a is c)

False
True

In [10]:
print(id(a))
print(id(b))
print(id(c))

314494455984
140728798978576
314494455984

In [13]:
id(a) == id(c)

True

# Control Flow

if, else, elif
if Logic:
code run if logic True
else run code if logic Flase
indentation matters
Four spaces = 1 indentation

In [8]:
if True:
    print("Pakistan")
else:
    print("Zindabad")

Pakistan

In [9]:
if False:
    print("Zindabad")
else:
    print("Pakistan")

Pakistan

In [10]:
if True:
    print("SOBIA")
    print("Pervaiz")
    print("SOBIA PERVAIZ")
else:
    print("PIAIC")

SOBIA
Pervaiz
SOBIA PERVAIZ

True_block if logic else False_block

In [11]:
"Pakistan" if True else "Zindabad"

'Pakistan'

In [12]:
"Zindabad" if False else "Pakistan"

'Pakistan'

In [ ]:
user = input("username")
password = input("password")

if ("username" == "Sobia" or "username" == "Admin" or "username" == "ABC")\
and("password" == "123"):
    print("Valid")
else:
     print("Try again")

In [1]:
names = ['Sobia', 'Pervaiz', 'PIAIC', '2019']

for name in names:
    if name=='Sobia':
         print(True)

True